<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col>
      <v-card>
        <v-card-title class="red--text"> Gruppe Anlegen </v-card-title>
        <v-card-text>
          <v-alert type="success" v-if="success">
            Gruppe wurde erfolgreich angelegt. <a href="https://gitlab.com/ingenieure-ohne-grenzen/ingenieure.cloud/-/blob/main/configuration/use-cases/NewGroup.md">Bitte Nextcloud-Permission-Skript ausführen und OpenProject-Nextcloud-Integration einrichten!</a>
          </v-alert>

          <v-form ref="form" v-if="!success">
            <v-alert type="warning" v-if="error">
              Bitte folgende Fehler beheben:
              <ul>
                <li v-for="e in error" :key="e">
                  {{ e }}
                </li>
              </ul>
            </v-alert>

            <v-text-field
              label="Anzeigename"
              prepend-icon="mdi-account-group"
              v-model="addgroup.displayName"
              :disabled="sending || (addgroup.kind ? addgroup.kind.relatedGroupNeeded : false)"
              :rules="addgroup.kind && addgroup.kind.relatedGroupNeeded ? [] : displayNameRules"
            />

            <v-autocomplete
              v-model="referenceGroup"
              :items="this.nonSuffixGroups"
              item-text="name"
              item-value="id"
              label="Referenzgruppe"
              chips
              prepend-icon="mdi-account-group"
              :disabled="
                loading || sending || (addgroup.kind ? !addgroup.kind.relatedGroupNeeded : true)
              "
              :required="addgroup.kind ? addgroup.kind.relatedGroupNeeded : false"
              :rules="[
                (v) =>
                  !addgroup.kind ||
                  !addgroup.kind.relatedGroupNeeded ||
                  !!v ||
                  'Die Angabe einer Referenzgruppe ist für diese Gruppenart erforderlich',
              ]"
            ></v-autocomplete>

            <v-text-field
              label="Beschreibung"
              :append-icon="referenceGroup ? 'mdi-lightbulb-outline' : null"
              @click:append="setDescriptionSuggestion"
              :hint="
                referenceGroup
                  ? `Empfehlung: ${descriptionSuggestion(referenceGroup, this.addgroup.kind)}`
                  : null
              "
              :placeholder="
                referenceGroup ? descriptionSuggestion(referenceGroup, this.addgroup.kind) : null
              "
              prepend-icon="mdi-card-account-details"
              v-model="addgroup.description"
              :disabled="sending"
              :rules="descriptionRules"
            />

            <v-select
              v-model="addgroup.kind"
              :items="applicationStore.config.bindings.multiservice.groupKindDefinitions"
              label="Gruppenart"
              :hint="`Bestimmt, mit welcher Logik die Untergruppen und Projekte angelegt werden${
                addgroup.kind ? ' - ' + addgroup.kind.text + ': ' + addgroup.kind.description : ''
              }`"
              persistent-hint
              return-object
              required
              :rules="[(v) => !!v || 'Die Angabe einer Gruppenart ist erforderlich']"
            ></v-select>

            <v-autocomplete
              v-model="addgroup.owners"
              :items="this.items"
              item-text="displayName"
              item-value="id"
              label="Gruppenadministratoren"
              multiple
              chips
              prepend-icon="mdi-account-supervisor"
              :disabled="
                loading || sending || (addgroup.kind ? addgroup.kind.relatedGroupNeeded : false)
              "
              :required="addgroup.kind ? addgroup.kind.adminNeeded : false"
              :rules="
                addgroup.kind && addgroup.kind.adminNeeded
                  ? [
                      (v) =>
                        !!v ||
                        'Die Angabe eines Gruppenadministrators ist für diese Gruppenart erforderlich',
                    ]
                  : []
              "
            ></v-autocomplete>

            <v-checkbox
              v-model="addgroup.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="sending"
              required
            >
              <template v-slot:label>
                Das Anlegen dieser Gruppe ist von Geschäftstelle und Vorstand genehmigt.
              </template>
            </v-checkbox>

            <background-job-status
              v-if="addGroupJobId"
              :jobId="addGroupJobId"
              @job_completed="processJobCompleted"
            >
            </background-job-status>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn color="orange darken-2" class="pa-4 white--text" tile @click="reset" v-if="success"
            >Weitere Gruppe anlegen
          </v-btn>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doAddGroup"
            :loading="sending"
            :disabled="sending"
            v-if="!success"
            >Anlegen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Api from '../../LegacyApi';
import * as api from '../../api';
import * as util from "../../util";
import { useApplicationStore } from '../../stores/application';

export default {
  mounted() {
    Api.defaultHandler(this, Promise.all([Api.getAllGroups(), Api.getAllUsers()])).then(
      (result) => {
        this.groups = result[0];
        this.nonSuffixGroups = [...this.groups.values()].filter(
          (value) => !this.hasSuffix(value.name)
        );
        this.users = result[1];
        this.items = Array.from(this.users.values());
        this.loading = false;
      }
    );
  },
  data: () => {
    return {
      loading: true,
      sending: false,
      addGroupJobId: null,
      success: false,
      error: null,
      groups: [],
      nonSuffixGroups: [],
      users: [],
      items: [],
      applications: [],
      referenceGroup: null,
      // the list of available kinds should come from the "business logic" backend
      addgroup: {
        displayName: '',
        description: '',
        kind: null,
        owners: [],
        verified: false,
      },
      displayNameRules: [
        (v) => !!v || 'Bitte einen Anzeigenamen wählen',
        (v) => (v || '').length >= 3 || 'Der Anzeigename muss mindestens 3 Zeichen beinhalten',
        (v) => (v || '').length <= 40 || 'Der Anzeigename darf maximal 40 Zeichen beinhalten',
        (v) =>
          RegExp('^[a-z][a-z0-9\\-]*$').test(v || '') ||
          'Nur Kleinbuchstaben, Zahlen und Striche. Darf nur mit einem Buchstaben starten.',
      ],
      descriptionRules: [
        (v) => !!v || 'Bitte eine Beschreibung wählen',
        (v) => (v || '').length >= 3 || 'Die Beschreibung muss mindestens 3 Zeichen beinhalten',
        (v) => (v || '').length <= 60 || 'Die Beschreibung darf maximal 60 Zeichen beinhalten',
        (v) =>
          RegExp('^[a-zA-Z][\\ a-zA-Z0-9äüöß\\-\\+\\,\\*\\!\\?\\(\\)\\:\\&]*$').test(v || '') ||
          'Nur Groß- und Kleinbuchstaben, sowie Umlaute, Leerzeichen, Zahlen und die folgenden Sonderzeichen: - + , * ! ? ( ) : &. Darf nur mit einem Buchstaben starten.',
      ],
      applicationStore: useApplicationStore(),
      util,
    };
  },
  methods: {
    hasSuffix: function (groupName) {
      return (
        groupName.endsWith('-admin') ||
        groupName.endsWith('-interested') ||
        groupName.endsWith('-crm') ||
        groupName.endsWith('-member')
      );
    },
    capitalizeFirstLetter: function (string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    descriptionSuggestion: function (groupId, groupKind) {
      if (!groupId || !this.groups.has(groupId)) {
        return null;
      }
      const group = this.groups.get(groupId);
      let tokens = group.name.split('-');
      if (tokens.length <= 1) {
        return group.name;
      }
      let result = tokens[0].toUpperCase();
      tokens.shift();
      tokens.forEach((token) => (result += ' ' + this.capitalizeFirstLetter(token)));
      const groupKindTokens = groupKind.text.split('-');
      if (groupKindTokens.length > 1) {
        groupKindTokens.pop();
      }
      result += ' (' + groupKindTokens.join('-') + ')';
      return result;
    },
    setDescriptionSuggestion: function () {
      if (this.referenceGroup && this.groups.has(this.referenceGroup)) {
        this.addgroup.description = this.descriptionSuggestion(
          this.referenceGroup,
          this.addgroup.kind
        );
      }
    },
    reset: function () {
      this.error = null;
      this.referenceGroup = null;
      this.addgroup.displayName = '';
      this.addgroup.description = '';
      // keep this.addgroup.kind
      this.addgroup.owners = [];
      this.addgroup.verified = false;
      this.sending = false;
      this.addGroupJobId = null;
      this.success = false;
    },
    doAddGroup: function () {
      if (this.$refs.form.validate()) {
        this.$emit('clearError');
        this.sending = true;

        let addgroup = Object.assign({}, this.addgroup);
        if (addgroup.kind && addgroup.kind.relatedGroupNeeded) {
          if (!this.referenceGroup || !this.groups.has(this.referenceGroup)) {
            this.sending = false;
            this.$emit('unexpectedError');
            return;
          }
          const referenceGroup = this.groups.get(this.referenceGroup);
          addgroup = Object.assign(addgroup, {
            displayName: referenceGroup.name,
          });
        }
        addgroup = Object.assign(addgroup, {
          kind: this.addgroup.kind.value,
        });
        fetch(util.CONFIG.API_BASE_URL + '/v1/bindings/multiservice/groups?async=true', {
          method: 'PUT',
          credentials: 'include',
          body: JSON.stringify(addgroup),
        })
          .then((response) => {
            if (response.status === 201) {
              response.json().then((data) => {
                this.addGroupJobId = data.id;
              });
            } else if (response.status === 401) {
              this.$router.push('/logout');
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit('unexpectedError');
                });
            } else {
              this.sending = false;
              this.$emit('unexpectedError');
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit('networkError');
          });
      }
    },
    processJobCompleted: function (result) {
      if (api.job.isErrorResult(result)) {
        this.error = [result.error];
        this.sending = false;
      } else {
        this.success = true;
      }
    },
  },
  beforeUnmount() {
    this.$emit('clearError');
  },
};
</script>

<style scoped></style>
