<!--
  -    Copyright [2023] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<script setup lang="ts">
import { onMounted, reactive } from 'vue';
import * as api from '../api';
import { useApplicationStore } from '../stores/application';
import { useRoute } from 'vue-router/composables';
import { MailChange } from '../entities';

const state = reactive<{
  checking: boolean;
  loading: boolean;
  success: boolean;
  token: MailChange | undefined;
}>({
  checking: true,
  loading: false,
  success: true,
  token: undefined,
});

const applicationStore = useApplicationStore();
const route = useRoute();

onMounted(() => {
  const getMailChangePromise = api.mailChange.getMailChange(route.params.token);

  getMailChangePromise.then((data) => {
    if (data != undefined) {
      state.token = data;
    } else {
      applicationStore.pushAlert({
        type: 'warning',
        uniqueType: {
          id: 'change_mail_token_not_found',
        },
        short: 'Token nicht gefunden',
        description:
          'Das Token konnte nicht gefunden werden, eventuell wurde es bereits benutzt oder ist abgelaufen.',
      });
    }
    state.checking = false;
  });

  api.allCatching([getMailChangePromise]).finally(() => {
    state.success = false;
    state.checking = false;
  });
});

function doMailVerification() {
  state.loading = true;

  const executeMailChangePromise = api.mailChange.executeMailChange(route.params.token);

  executeMailChangePromise.then((data) => {
    switch (data.state) {
      case 'token_not_found': {
        state.token = undefined;
        applicationStore.pushAlert({
          type: 'warning',
          uniqueType: {
            id: 'change_mail_token_not_found',
          },
          short: 'Token nicht gefunden',
          description:
            'Das Token konnte nicht gefunden werden, eventuell wurde es bereits benutzt oder ist abgelaufen.',
        });
        break;
      }
      case 'error': {
        applicationStore.pushAlert({
          type: 'error',
          uniqueType: {
            id: 'change_mail_error',
          },
          short: 'Fehler bei der Verarbeitung',
          description: data.messages,
        });
        break;
      }
      case 'success': {
        state.success = true;
      }
    }
  });

  api.allCatching([executeMailChangePromise]).finally(() => {
    state.loading = false;
  });
}
</script>

<template>
  <div v-if="!state.checking">
    <v-alert type="success" v-if="state.success">
      E-Mail-Adresse wurde erfolgreich geändert, du bekommst jetzt alle Nachrichten an die neue
      Adresse.
    </v-alert>

    <v-form ref="form" v-on:submit.prevent="doMailVerification">
      <v-card-text v-if="state.token && !state.success">
        <p>
          Änderung der Mail-Adresse für {{ state.token.user.firstname }}
          {{ state.token.user.surname }} von {{ state.token.user.mail }} nach
          {{ state.token.newMail }}.
        </p>
      </v-card-text>
      <v-card-actions>
        <router-link
          class="deep-orange--text"
          to="/dashboard"
          v-if="applicationStore.session && !state.loading"
          >&lt; Zurück zum Dashboard</router-link
        >
        <router-link
          class="deep-orange--text"
          to="/login"
          v-if="!applicationStore.session && !state.loading"
          >&lt; Zurück zum Login</router-link
        >
        <v-spacer />
        <v-btn
          color="orange darken-2"
          class="pa-4 white--text"
          tile
          :loading="state.loading"
          :disabled="state.loading"
          v-if="state.token && !state.success"
          type="submit"
          >Änderung übernehmen</v-btn
        >
      </v-card-actions>
    </v-form>
  </div>
  <div class="text-center" v-else>
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </div>
</template>
