<!--
  -    Copyright [2021] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <div>
    <v-row>
      <v-col>
        <v-card>
          <v-container class="fill-height" fluid style="padding: 0">
            <v-row class="fill-height" style="margin: 0">
              <v-col md="auto" class="error">
                <v-avatar tile size="70">
                  <v-icon x-large dark>mdi-shield-alert</v-icon>
                </v-avatar>
              </v-col>
              <v-col class="white">
                <v-card flat>
                  <v-card-title class="pa-0">Account reaktivieren</v-card-title>
                  <v-card-actions>
                    <v-btn
                      color="orange darken-2"
                      class="pa-4 white--text"
                      tile
                      @click="doReactivate"
                      :loading="loading"
                      :disabled="loading"
                      >Account reaktivieren
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { axios, runCatching } from '../api/util';
import * as util from '../util';

export default {
  data: () => {
    return {
      loading: false,
      util,
    };
  },
  methods: {
    doReactivate: function () {
      this.loading = true;

      runCatching(() => axios.post(`/reactivate`, '', { validateStatus: (it) => it == 201 }))
        .then((_it) => {
          this.$emit('refreshSession');
        })
        .catch((_err) => {
          this.loading = false;
        });
    },
  },
};
</script>

<style scoped></style>
