<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <router-view
    v-if="applicationStore.session"
    v-on:networkError="$emit('networkError')"
    v-on:forbiddenError="$emit('forbiddenError')"
    v-on:unexpectedError="$emit('unexpectedError')"
    v-on:clearError="$emit('clearError')"
    v-on:refreshSession="$emit('refreshSession')"
  ></router-view>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';
import { useApplicationStore } from '../stores/application';
import { useRouter, useRoute } from 'vue-router/composables';

const applicationStore = useApplicationStore();
const router = useRouter();
const route = useRoute();

onMounted(() => {
  if (!applicationStore.session) {
    localStorage.postLoginRedirect = route.fullPath;
    router.push('/login');
  } else if (applicationStore.session.miniSession && !route.meta?.miniSessionAllowed) {
    router.push('/dashboard');
  }
});
</script>
