<script setup lang="ts">
import * as entities from '../entities';
import * as util from "../util"
import GdprDocumentView from '../components/GdprDocumentView.vue';

defineProps<{
  gdpr: entities.GdprDocument;
  value: boolean; // = popup visible
}>();
</script>

<template>
  <div class="text-center">
    <v-dialog v-model="value" persistent width="70%" min-width="800px">
      <v-card>
        <v-card-title>
          Aktuelle Datenschutzbestimmungen (Version {{ gdpr.id }})
          <v-spacer />
          <v-btn
            class="mx-2"
            fab
            small
            :color="util.CONFIG.MAIN_BAR_COLOR"
            dark
            :to="'/print/gdpr/' + gdpr.id"
            target="_blank"
            ><v-icon>mdi-printer</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-subtitle
          >Gültig ab {{ new Date(Date.parse(gdpr.validDate)).toLocaleString() }}. Veröffentlicht am
          {{ new Date(Date.parse(gdpr.creationDate)).toLocaleString() }}.</v-card-subtitle
        >
        <v-card-text>
          <GdprDocumentView :content="gdpr.content" />
        </v-card-text>

        <v-card-actions>
          <v-btn :color="util.CONFIG.MAIN_BAR_COLOR" tile dark @click="$emit('declineGdpr')">
            Ablehnen
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn :color="util.CONFIG.MAIN_BAR_COLOR" tile dark @click="$emit('acceptGdpr')">
            Zustimmen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
