<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->
<script setup lang="ts">
import { Ref, ref, computed, defineEmits } from 'vue';
import { DataTableHeader } from 'vuetify';
import { Invitation, Group } from '../entities';
import InvitationPopup from './InvitationPopup.vue';
import { useApplicationStore } from '../stores/application';

const emits = defineEmits(['refresh']);
const applicationStore = useApplicationStore();
const props = defineProps<{
  invitations: Invitation[];
  loading: boolean;
  search: string;
  showPermissions: boolean;
  groups: Group[];
}>();

const popupInvitation: Ref<Invitation | undefined> = ref(undefined);
const popupInvitationMode: Ref<'create' | 'repeat' | 'delete'> = ref('create');
const groupMap = computed(() =>
  props.groups.reduce((acc, curr) => acc.set(curr.id, curr), new Map<number, Group>())
);
const workingCopy = computed(() =>
  props.invitations.map((it) => ({
    inviteeName: `${it.invitee.firstname} ${it.invitee.surname}`,
    ...it,
  }))
);

const openCreateInvitation = () => {
  popupInvitationMode.value = 'create';
  popupInvitation.value = {
    id: '',
    inviter:
      applicationStore.session?.user ??
      (() => {
        applicationStore.logoutRequested();
        return createEmptyUser();
      })(),
    invitee: createEmptyUser(),
    used: false,
    validUntil: '0',
  };
};
defineExpose({ openCreateInvitation });

const headers = computed(() => {
  const headers: DataTableHeader[] = [
    {
      text: 'Eingeladener',
      value: 'inviteeName',
      sortable: true,
      filterable: true,
    },
    {
      text: 'Mailadresse',
      value: 'invitee.mail',
      sortable: true,
      filterable: true,
    },
    {
      text: 'Gültigkeitsdauer',
      value: 'validUntil',
      sortable: true,
      filterable: false,
    },
    {
      text: 'Einladender',
      value: 'inviter.name',
    },
    {
      text: 'Gruppen',
      value: '',
      filterable: false,
      sortable: false,
    },
  ];
  if (props.showPermissions) {
    headers.push({
      text: 'Rechte',
      value: 'invitee.permissions',
    });
  }
  headers.push({
    text: 'Aktionen',
    value: '',
  });
  return headers;
});

function createEmptyUser() {
  return {
    id: 0,
    disabled: false,
    displayName: '',
    firstname: '',
    groups: [],
    lastLoginAt: '',
    mail: '',
    ownedGroups: [],
    permissions: [],
    registeredSince: '',
    surname: '',
    username: '',
  };
}
</script>

<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="workingCopy"
      :search="search"
      :loading="loading"
      :sort-by="['inviteeName']"
      :sort-desc="[false]"
    >
      <template v-if="invitations.length == 0" v-slot:body>
        <tr>
          <td :colspan="headers.length">
            <div style="margin-left: 2em; margin-right: 2em; text-align: center; padding: 1em">
              <v-icon x-large>mdi-help-box-outline</v-icon><br />
              Noch keine Einladungen angelegt.<br />
              Klicke oben rechts auf das Plus Symbol um eine Person einzuladen.
            </div>
          </td>
        </tr>
      </template>
      <template v-slot:item="row">
        <tr>
          <td>{{ row.item.invitee.firstname }} {{ row.item.invitee.surname }}</td>
          <td>{{ row.item.invitee.mail }}</td>
          <td>{{ new Date(row.item.validUntil).toLocaleString() }}</td>
          <td>{{ row.item.inviter.displayName }} ({{ row.item.inviter.username }})</td>
          <td>
            <ul
              v-for="group in row.item.invitee.groups
                .map((it) => groupMap.get(it))
                .filter((it) => it !== undefined)"
              :key="group.id"
            >
              <li>{{ group.name }} ({{ group.description }})</li>
            </ul>
          </td>
          <td v-if="props.showPermissions">{{ row.item.invitee.permissions.join(', ') }}</td>
          <td>
            <v-hover v-slot="{ hover }">
              <v-btn
                icon
                :color="hover ? 'purple' : 'grey'"
                @click="
                  popupInvitationMode = 'repeat';
                  popupInvitation = row.item;
                "
                ><v-icon> mdi-repeat </v-icon></v-btn
              >
            </v-hover>
            <v-hover v-slot="{ hover }">
              <v-btn
                icon
                :color="hover ? 'red' : 'grey'"
                @click="
                  popupInvitationMode = 'delete';
                  popupInvitation = row.item;
                "
                ><v-icon> mdi-delete </v-icon></v-btn
              >
            </v-hover>
          </td>
        </tr>
      </template>
    </v-data-table>
    <invitation-popup
      v-if="popupInvitation"
      :action="popupInvitationMode"
      :invitation="popupInvitation"
      :show-permissions="showPermissions"
      :groups="groups"
      v-on:cancel="popupInvitation = undefined"
      v-on:done="
        popupInvitation = undefined;
        emits('refresh');
      "
    ></invitation-popup>
  </div>
</template>
