<!--
  -    Copyright [2024] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<script lang="ts" setup>
import moment from 'moment';
import { ref, onMounted, Ref, computed } from 'vue';
import * as api from '../../api';

const headers = [
  {
    text: 'Name',
    value: 'name',
  },
  {
    text: 'Nicht eingeloggt seit',
    value: 'lastLoginAt',
    filterable: false,
    sortable: true,
  },
  {
    text: 'Erstellt',
    value: 'registeredSince',
    filterable: false,
    sortable: true,
  },
];
const search = ref('');
const loading = ref(true);
const inactiveUsers: Ref<api.users.UserResponse[]> = ref([]);

onMounted(() => {
  const getInactiveUsers = api.users.getInactiveUsers().then(([users, _threshold]) => {
    inactiveUsers.value = users;
  });

  api.allCatching([getInactiveUsers]).finally(() => (loading.value = false));
});

function notEmpty<TValue>(value: TValue | null | undefined): value is TValue {
  return value !== null && value !== undefined;
}

const tableData = computed(() =>
  inactiveUsers.value
    .map((user) => {
      return {
        name: user.displayName,
        lastLoginAt:
          user.lastLoginAt === '1970-01-01T00:00:00Z'
            ? 'niemals'
            : moment(user.lastLoginAt).format('YYYY-MM-DD HH:mm:ss'),
        registeredSince: moment(user.registeredSince).format('YYYY-MM-DD HH:mm:ss'),
      };
    })
    .sort((a, b) => {
      if (a.name < b.name) {
        return -1;
      }
      if (a.name > b.name) {
        return 1;
      }
      return 0;
    })
);
</script>

<template>
  <v-row>
    <v-col cols="12" md="12">
      <v-card>
        <v-card-title>
          Inaktive Benutzer:innen
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Suche"
            single-line
            hide-details
            :disabled="inactiveUsers.length == 0"
          ></v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table :headers="headers" :items="tableData" :search="search" :loading="loading">
            <template v-slot:item.reasons="{ item }">
              <ul v-for="reason in item.reasons">
                <li>{{ reason.name }} ({{ reason.description }})</li>
              </ul>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
